.container#publicacion

    .header-ecored

        h1 1. Tecnologías inmersivas en el aula: ¿qué son y cómo se presentan?

    .jumbotron.bg-white

        .row
            .col-12
                p Las tecnologías inmersivas en aula se han convertido en una tendencia en el campo educativo actual, debido a que generan cambios esenciales en la forma habitual de llevar a cabo algunos procesos de enseñanza – aprendizaje; desde la motivación, la curiosidad, la interacción y la experimentación, propiciando un aprendizaje significativo mediante experiencias que logran emocionar estimular los sentidos de los participantes.
            .col-6.p-4.bg-color1.align-self-center.rounded
                p Otra de las ventajas del uso de las tecnologías en aula, es la posibilidad de relacionar diferentes campos del conocimiento, propiciando la creación de proyectos interdisciplinares y de interés para los estudiantes.
            .col-6.text-center.p-4
                img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 80%")
            .col-6.text-center.p-4
                img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 80%")
            .col-6.p-4.bg-color1.align-self-center.rounded
                p Como su nombre lo indica, las tecnologías inmersivas, posibilitan “sumergirse” en experiencias del mundo físico, desde un entorno digital o simulado, experimentando sensaciones y emociones en tiempo real, estimulando así la parte visual y corporal, y permitiendo al cerebro interpretar las señales como si la persona estuviera viviendo de manera tangible la experiencia. 
                p En algunos estudios de neurociencia aplicada a la educación se ha demostrado que el aprendizaje que se realiza mediante experiencias en primera persona puede llegar a ser más significativo, porque ayuda al autodescubrimiento y provoca emociones positivas.
            .col-12
                p Gracias a las tecnologías inmersivas, se crean experiencias de aprendizaje que favorecen el desarrollo de capacidades creativas en las personas, mejorando y respetando los ritmos de aprendizaje, la apropiación del conocimiento, la autorregulación y autoevaluación en procesos formativos, así como el desarrollo de emociones que repercuten en los sistemas de recordación y aprendizaje significativo.
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img3.svg", style="max-width: 80%")
            .col-12.mt-4
                p La creación de contenidos 360 de video e imagen, permite rotar la visión para ver cualquier perspectiva desde el propio eje, representa una de las primeras opciones para realizar viajes virtuales. Ejemplo de ello es Google Expeditions y Tour Creator de Google que permiten, con dispositivos móviles y visores de realidad virtual, realizar excursiones y visitar lugares como la Gran Muralla China o la estación espacial sin salir de casa o del aula.
            .col-6.p-4.bg-color1.align-self-center.rounded
                p El uso de tecnologías inmersivas, como la realidad virtual, permiten conectar nuestras casas o aulas con entornos y situaciones que son difícilmente alcanzables en la vida real, por ejemplo, un viaje a la luna, Marte o una exploración en el interior de una célula. La realidad virtual, promueve el aprendizaje por exploración y descubrimiento, con escenarios que emulan a la perfección el macro y micro mundo físico, potencializando la construcción de conocimiento mediante la interacción, el asombro y la vivencia que da el espacio virtual.
            .col-6.text-center.p-4
                img.img-fluid(src="assets/images/pages/img4.svg", style="max-width: 80%")
            .col-12
                p La creación de entornos de realidad virtual permite recrear lugares que son inaccesibles, que ya han desaparecido o que aún están por descubrir; este hecho fomenta la curiosidad hacia el aprendizaje, donde cada escenario puede ser una ventana de exploración de múltiples campos del saber. 
                p La Realidad Aumentada, como tecnología inmersiva en aula, permite que los estudiantes puedan visualizar y manipular objetos 3D virtuales, así favorecer el aprendizaje basado en la experimentación.  La realidad aumentada posibilita, nuevas formas de interacción entre la persona y un saber, generando nuevas formas de leer (reconfigurando la lectura 2D) o relacionar contenidos de diferentes áreas del conocimiento; por ejemplo, información sobre lugares de interés, edificios y monumentos, o recreaciones de cómo eran en la antigüedad cuando estaban en su máximo esplendor, también es una buena opción para la creación de juegos y para apoyar el aprendizaje basado en la gamificación.
            .col-6.text-center.p-4
                img.img-fluid(src="assets/images/pages/img5.svg", style="max-width: 80%")
            .col-6.p-4.bg-color1.align-self-center.rounded
                p Finalmente, la realidad mixta, que se emplea experimentalmente para proporcionar hologramas y simulaciones 3D en el entorno real, permite a las personas interactuar con modelos virtuales, usando sus manos de manera natural sin perder el contacto con el espacio real; por ejemplo, un holograma 3D de un sistema del cuerpo humano, donde se pueda interaccionar con el modelo virtual, mientras se realizan cuestionamientos sobre su funcionamiento. 
                p Esta tecnología puede convertirse también en la herramienta que facilite los procesos de formación en línea, donde se planteen casos prácticos, empleando elementos holográficos.