.container#comunicacion

    .header-ecored

        h1 2. Comunicación digital y distribución de contenidos
    
    .card

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/w4C3GBSYW4M', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .card-body

            .card-text

                .row
                    .col-12
                        p
                            b Importancia de una buena comunicación digital
                        p.mt-4 El mundo de la comunicación digital está determinado por desarrollos tecnológicos que configuran nuevas formas de construcción de los mensajes, lo que hace que cambien sus narrativas, transmisión, distribución y exhibición; por ello, la buena comunicación no solo implica los medios usados, sino el uso del lenguaje y de códigos acordes a los intereses particulares de las comunidades de consumidores, para que los mensajes realmente tengan una trascendencia. La buena comunicación digital implica:
                .row.justify-content-center.mt-4
                    .col-3.p-4.bg-color2.rounded
                        p.text-center
                            b Mensaje individualizado
                        p.mt-4 El tipo de mensaje debe relacionarse con las personas y sus intereses, por ello, debe estar focalizado por audiencias y particularidades.
                    .col-3.p-4.mx-5.bg-color2.rounded
                        p.text-center
                            b Saber escuchar a los receptores
                        p.mt-4 Es importante determinar canales para conocer la experiencia del usuario y así establecer contenidos.
                    .col-3.p-4.bg-color2.rounded
                        p.text-center
                            b La era de la super información digital
                        p.mt-4 La buena comunicación no debe saturar de mensajes al receptor, debido a que puede hacer que le pierda sentido o interés.
                .row.mt-4
                    .col-12
                        p 
                            b Canales de distribución de contenidos digitales
                        p.mt-4 Una vez se tengan claros los mensajes digitales, el público objetivo y los contenidos propuestos, para que sea efectiva su recepción, es importante determinar el canal de distribución de los contenidos, estos también van de acuerdo con los objetivos comunicacionales:
                    .col-12.mt-4.p-4
                        .row.align-items-center
                            .col-2.text-center
                                img.img-fluid(src="assets/images/pages/img6.svg", style="max-width: 50%")
                            .col-10.rounded.p-4.bg-color3
                                p
                                    b Sitios web:
                                p.mt-2 Estos canales permiten distribuir los contenidos de manera eficiente, organizada y completa. Un sitio web da muchas opciones de diseño para distribuir contenidos de una manera llamativa y estética, que logre captar la atención del público objetivo. Existen diferentes sistemas de edición y gestión de contenidos para crear un sitio web sin ser programador, tales con wordpress, Wix, Webnode, Weebly, Jimdo, entre los más destacados.
                        .row.align-items-center.mt-4
                            .col-2.text-center
                                img.img-fluid(src="assets/images/pages/img7.svg", style="max-width: 50%")
                            .col-10.rounded.p-4.bg-color3
                                p
                                    b Blog:
                                p.mt-2 El blog es más personalizado, y debe actualizarse constantemente, la comunicación entre usuarios puede ser más directa y constante, según lo desee el administrador. Algunas de las plataformas más utilizadas para crearlos, entre las más reconocidas, son: Wordpress, Blogger, Wix, Medium, Tumblr.
                        .row.align-items-center.mt-4
                            .col-2.text-center
                                img.img-fluid(src="assets/images/pages/img8.svg", style="max-width: 50%")
                            .col-10.rounded.p-4.bg-color3
                                p
                                    b Redes sociales:
                                p.mt-2 Son medios que permiten distribuir los contenidos de manera eficiente, teniendo en cuenta el objetivo y el tipo de consumidor de cada uno. Facebook, Twitter, YouTube, Pinterest, Instagram, Snapchat, son las redes sociales más usadas para la distribución de contenidos digitales actualmente.
                        .row.align-items-center.mt-4
                            .col-2.text-center
                                img.img-fluid(src="assets/images/pages/img9.svg", style="max-width: 50%")
                            .col-10.rounded.p-4.bg-color3
                                p
                                    b Otros canales:
                                p.mt-2 A parte de los canales mencionados, existen otros que permiten distribuir los contenidos de una manera diferente como los webinars, que son conferencias, talleres, cursos o seminarios en formato video que se imparte a través de internet; y los podcast, que consisten en la distribución de archivos multimedia, normalmente audios que suelen ser de larga duración, mediante un sistema de redifusión, que un usuario puede descargar para copiar y escuchar en un dispositivo personal.