include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Álvarez, J. C. A., Ceballos Bedoya, M. A., y Muñoz Sierra, A. M. (2013). De los delitos contra los derechos de autor en el Código Penal colombiano. Nuevo Foro Penal, 81, 93.", "https://heinonline.org/HOL/LandingPage?handle=hein.journals/nuefopnl81&div=7&id=&page=")

        +referenciaItem("Álvarez, S., y Gertrudix, M. (2011). Contenidos digitales abierto y participación en la sociedad digital. Enl@ ce: Revista Venezolana de Información, tecnología y conocimiento, 8(2), 79-93.", "https://www.redalyc.org/pdf/823/82319126006.pdf")

        +referenciaItem("Arango, G. (2013). Comunicación digital: una propuesta de análisis desde el pensamiento complejo. Palabra clave, 16(3), 673-697.", "https://www.redalyc.org/pdf/649/64930924002.pdf")

        +referenciaItem("Aznar, I., Romero, J., y Rodríguez, A. (2018). La tecnología móvil de Realidad Virtual en educación: una revisión del estado de la literatura científica en España. EdMETIC, Revista de Educación Mediática y TIC, 7(1), 256-274.", "https://doi.org/10.21071/edmetic.v7i1.10139")

        +referenciaItem("Badia, A., Chumpitaz. L., Vargas, J., y Suárez, G. (2016). La percepción de la utilidad de la tecnología conforma su uso para enseñar y aprender. Revista Electrónica de Investigación Educativa, 18(3), 95-105.", "http://www.scielo.org.mx/scielo.php?script=sci_arttext&pid=S1607-40412016000300007")

        +referenciaItem("Barroso, J., Cabero, J., y Moreno, A. (2016). La utilización de objetos de aprendizaje en realidad aumentada en la enseñanza de la medicina. International journal of technology and educational innovation, 2(2), 77-83.", "http://dx.doi.org/10.20548/innoeduca.2016.v2i2.1955")

        +referenciaItem("Colombia. Ministerio de Gobierno. Dirección Nacional del Derecho de Autor, & Colombia. (1991). Colombia y el convenio de Berna. República de Colombia, Ministerio de Gobierno, Dirección Nacional del Derecho de Autor.", "www.derechodeautor.gov.co")

        +referenciaItem("Colombia. Ministerio de Gobierno. Dirección Nacional del Derecho de Autor, & Colombia. (1991). Colombia y el convenio de Berna. República de Colombia, Ministerio de Gobierno, Dirección Nacional del Derecho de Autor.", "http://www.derechodeautor.gov.co")

        +referenciaItem("Fernández, G. I. (2019). Realidad aumentada y realidad virtual en el aula. Las nuevas realidades tecnológicas: los docentes frente a la posibilidad de generar aprendizajes significativos en Ciencias Sociales y disciplinas afines.", "https://digital.cic.gba.gob.ar/handle/11746/10465")

        +referenciaItem("García, F., y Gertrudix, M. (2011). Naturaleza y características de los servicios y los contenidos digitales abiertos. CIC. Cuadernos de Información y Comunicación, 16, 125-138.", "https://www.redalyc.org/pdf/935/93521629008.pdf")

        +referenciaItem("Leiva, J., Moreno, N. (2015) Tecnologías de geolocalización y realidad aumentada en contextos educativos: experiencias y herramientas didácticas. Revista didáctica, innovación y multimedia (DIM), 31.", "http://dim.pangea.org/revista31.htm")

        +referenciaItem("Lessig, L., Cabello, F., y Perulero, M. G. (2012). Remix: cultura de la remezcla y derechos de autor en el entorno digital. Barcelona: Icaria.", "http://textos.pucp.edu.pe/pdf/5073.pdf")

        +referenciaItem("Oliveros, M. Mnemosine despertó. El aula inmersiva, interactiva y sus narrativas 360. Actas de, 102.", "https://www.nebrija.com/vida_universitaria/servicios/pdf-publicaciones/actas-I-jornadas-transversalidad-docencia.pdf#page=135")

        +referenciaItem("Scolari, C. (2008). Hipermediaciones: elementos para una teoría de la comunicación digital interactiva. Editorial Gedisa.", "https://books.google.es/books?hl=es&lr=&id=gDslBQAAQBAJ&oi=fnd&pg=PA15&dq=comunicaci%C3%B3n+digital&ots=5dufjkKbvZ&sig=K3O8t93tKU6VS4d20GwZEPqvAA4#v=onepage&q=comunicaci%C3%B3n%20digital&f=false")

        +referenciaItem("Toledo, J., Botina, J., Del Castillo, A., y Cesmag, I. (2012). Modelo virtual inmersivo 3D como estrategia didáctica en la educación.", "https://recursos.portaleducoas.org/sites/default/files/1843.pdf")

        +referenciaItem("Torres, Á., y Romero, L. (2018). Aprender jugando. La gamificación en el aula. Educar para los nuevos Medios.", "https://dspace.ups.edu.ec/bitstream/123456789/17049/1/Educar%20para%20los%20nuevos%20medios.pdf#page=62")